* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Muro;
  font-size: 1.125rem;
  color: black;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav_logo .nav_logoImg {
  width: 2rem;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  align-items: center;
}

.nav .nav_menus {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-top: 0.125rem;
}

.nav {
  background-color: #fbf04f;
  padding-inline: 1.5rem;
}
.nav a {
  text-decoration: none;
  color: black;
  padding-top: 0.125rem;
}
.nav_menus a:hover {
  opacity: 20%;
}

.wrp_cards {
  padding-bottom: 2.25rem;
  padding-inline: 1.5rem;
}
.wrp_cards h1 {
  margin-top: 2.5rem;
  padding-block: 1.25rem;
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  color: #fbf04f;
  background-color: black;
  border-radius: 62.4375rem;
}

.card_title {
  width: 20rem;
  margin: auto;
  padding-top: 2.5rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card {
  max-width: 25rem;
  border: 0.0781rem solid black;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  transition: transform 500ms ease, box-shadow 500ms ease, background-color 250ms ease-in-out;
}
.card:hover {
  background-color: #fbf04f;
  transform: scale(1.01);
  box-shadow: 0 0.5rem 0.75rem 0.375rem rgba(0, 0, 0, 0.15), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.card:hover .card_img {
  filter: grayscale(0);
}
.card.card--clicked {
  background: #d72f25;
}
.card.card--clicked:hover {
  background-color: #d72f25;
}
.card_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2.5rem;
  filter: grayscale(100%);
  transition: filter 500ms ease;
}
.card_txt {
  font-family: Apple SD Gothic Neo;
  padding-inline: 1rem;
}
.card_txt h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  margin-block: 0;
  text-align: center;
}
.card_txt li {
  text-wrap: balance;
  padding-top: 0.5rem;
}
.card .card_btns {
  padding-block: 0.625rem;
  display: flex;
  justify-content: end;
}
.card .card_btn {
  cursor: pointer;
  padding: 0rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: #fbf04f;
  border-radius: 62.4375rem;
  transition: opacity 0.5s ease;
}
.card .card_btn:hover {
  opacity: 40%;
}

@media (width < 90rem) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .main .container {
    display: flex;
    justify-content: center;
  }
  .card {
    margin-bottom: 1.5rem;
  }
}
.slides {
  color: #d72f25;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 90%;
    width: 100%;
  }
}