* {
  box-sizing: border-box;
}

/* 내가 사용하는 테마에 따라 컴퓨터 테마가 바뀜. */
html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  /* font-size: desktop, 폰트 18px를 기본(읽기 위한)으로 잡음. */
  font-size: 1.125rem;
  /* line-height: 영어는 1.5, 한글은 1.6이 좋음. */
  line-height: 1.5;
  margin: 0;
}

main {
  margin-inline: auto;
  /* padding-inline: 2rem; */
  /* ch: 0이 70개 들어가는 거라 i같은 경우 더 들어감 */
  /* max-width: 70ch; */
  width: min(70ch, 100% - 2 * 32px);
}

img,
svg,
video,
iframe {
  /* img가 inline이라 p와 틈이 발생 그럴 때는 block으로 설정. */
  display: block;
  max-width: 100%;
}
